/Test/TestIMletListener/nbproject/private/
/Test/TestIMletListener/build/
/Test/TestIMletListener/dist/
/Test/Homework1/nbproject/private/
/Test/Homework1/build/
/Test/Homework1/dist/
/Test/Homework1CallBack/nbproject/private/
/Test/Homework1CallBack/build/
/Test/Homework1CallBack/dist/
/Test/GPIOTest/nbproject/private/
/Test/GPIOTest/build/
/Test/GPIOTest/dist/
/Test/GPIOLEDTest/nbproject/private/
/Test/GPIOLEDTest/build/
/Test/GPIOLEDTest/dist/
/core/nbproject/private/
/core/build/
/core/dist/
/Test/GPIOLEDTest1/nbproject/private/
/Test/GPIOLEDTest1/build/
/Test/GPIOLEDTest1/dist/
/GPIOSwitchTester/nbproject/private/
/GPIOSwitchTester/build/
/GPIOSwitchTester/dist/
/GPIOSwitchTest/nbproject/private/
/GPIOSwitchTest/build/
/GPIOSwitchTest/dist/